@border-color: red;
@border-thickness: 2px;
@border-style: solid;

@mycolor: rgb(0, 0, 255);

.bgcolor(@bgcolor) {
  background-color: @bgcolor;
  border-color: saturate(@bgcolor, 50%);
}


.box {
  border: @border-color @border-style @border-thickness;
  .bgcolor(@mycolor);

  &:before {
  }

  &:hover {
    opacity: 0.5;
  }
}

